<mat-toolbar>
  <button mat-icon-button class="example-icon" routerLink="requests" aria-label="Example icon-button with menu icon">
    <mat-icon>list</mat-icon>
  </button>
  <span>Requests</span>
  <button mat-icon-button class="example-icon" routerLink="accepted" aria-label="Example icon-button with menu icon">
    <mat-icon>assignment_turned_in</mat-icon>
  </button>
  <span>Accepted requests</span>
  <button mat-icon-button class="example-icon" routerLink="" aria-label="Example icon-button with menu icon">
    <mat-icon>library_add</mat-icon>
  </button>
  <span>New requests</span>
</mat-toolbar>
